.wrap {
  &:after {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    transition: 0.3s;
    background-color: var(--color-white);
  }

  &.active {
    &:after {
      left: calc(100% - 22rem);
    }
  }
}
