.wrap {
  min-height: 100vh;
  height: 100vh;

  &:before {
    content: '';
    background-color: var(--color-black);
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
  }
}

.content {
  max-width: 456rem;
  width: 100%;
}
