.button {
  border: 1px solid var(--color-white-30);
  background: linear-gradient(270deg, rgba(255, 220, 151, 0.2) 0%, rgba(255, 169, 121, 0.2) 100%);
  backdrop-filter: blur(4px);
}

.dropdownWrapper {
  border: 1px solid var(--color-white-30);
  background: linear-gradient(270deg, rgba(255, 220, 151, 0.1) 0%, rgba(255, 169, 121, 0.1) 100%);
  backdrop-filter: blur(4px);
}
